body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000000;
}


header {
    background-color: #FF0000;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #000000;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {    
    background-image: url("/static/images/mvp2.jpg");
    background-size: cover;
    background-position: center;    
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}
.hero h2{
    color: cyan;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: skyblue;
}

h1, h2 {
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.feature {
    flex-basis: 30%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #000000;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}