{% extends 'base.html' %}
{% block feature1 %}
    Expert Coaching
{% endblock %}

{% block feature1content %}
    Our experienced coaches will help you reach your full potential in track and field events.
{% endblock %}

{% block feature2 %}
    State-of-the-Art Facilities
{% endblock %}

{% block feature2content %}
    Train in our modern facilities equipped with the latest technology and equipment.
{% endblock %}

{% block feature3 %}
    Competitive Opportunities
{% endblock %}

{% block feature3content %}
    Participate in local, regional, and national competitions to showcase your skills.
{% endblock %}

{% block hero %}
    Unleash your athletic potential
{% endblock%}

{% block herocontent %}
    Join the 473 MVP Track and Field Club and push your limits
{% endblock%}



